body {
    color: white;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(15, 105, 169, 1) 35%, rgba(0, 212, 255, 1) 100%);
    overflow-x: hidden;
    box-sizing: border-box;
}
.InstagramIcon{
    border: 1px solid;
    border-radius: 10px;
    margin: 10px
}

.socialMedia{
    width:100%;
    display: flex;
    justify-content: center;

}

.logo img{
    border: 1px solid;
    border-radius: 50%;
}

.app-download-area {
    padding-top: 80px;
    padding-bottom: 80px;
}
.app-download-content {
    text-align: center;
    margin-bottom: 35px;
}

.app-download-content p{
    background-color: #ac2516;
    padding: 20px;
    border: 1px solid red;
    border-radius: 10px;
    margin: 10px;
    font-size: 20px;
}
@media (min-width: 780px) {
    .app-download-image img {
        border: 1px solid transparent;
        border-radius: 50%;
        width: 80%;
        height: auto;
    }
    .download-icon img {
        margin: 10px;
    }
    .row {
        display: flex;
        flex-wrap: wrap;
        margin: 100px 0;
        justify-content: center;
    }
    .app-download-image {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        
    }
}

@media (max-width: 779px) {
    .app-download-image img {
        border: 1px solid transparent;
        border-radius: 50%;
        max-width: 100%;
        height: auto;
    }
    .download-icon img {
        margin: 10px;
    }
    .download-icon{
        margin: 40px 0 40px 0;
    }
}

.footer-area {
    padding-block: 0.5rem;
    height: 160px;
    display: flex;
    justify-content: space-evenly;
    align-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
footer p{
    color:white;
    font-size: 21px;
    
}
